@import "http://fonts.googleapis.com/css?family=Open+Sans";

div {
	font-family: "Open Sans", sans-serif;
}
h1 {
	font-size: 45px;
	margin: 0px;
	color: white;
}
h2 {
	font-size: 38px;
	color: white;
}
span, p {
	font-size: 19px;
	line-height: 35px;
	margin: 30px 0px 0px 0px;
	color: white;
}
a {
	text-decoration: none;
	color:black;
}
a:hover {
	color: grey;
}
input {
	font-size: 30px;
	width: 200px;
}
.heart {
	padding-right: 20px;
}
.navbar {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 1000;
	margin: 0px;
	padding: 3px 30px 5px 30px;
	background-color: white;
}
.top-links {
	list-style-type: none;
	display: inline;
}
.top-nav {
	float: right;
	padding: 0px 15px 0px 0px;
	}
.line{
     border-top:1px solid #EFF0F1;
     width:100%
}
.logo {
	padding: 0px 0px 0px 16px;
}
.searchbar {
	display: inline;
	position: relative;
	bottom: 8px;
}
.search {
	box-sizing: border-box; 
	width: 25%;
	height: 30px; 
}
.button0 {
	height: 30px;
	position: relative;
	bottom: 7px;
	background-color: #CB3837;
	border-color: #a5a4a4;
}
.login {
	display: inline;
	font-size: 15px;
	bottom: 20px;
	padding-right: 40px;
	position: relative;
	float: right;
}
.box1  {
	color: white;
	background: url(city-scape.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 100px 0px 100px 0px;
	margin: 0px -10px 0px -10px;
	position: relative;
	}
.box1-heading {
	padding-left: 200px;
}
.box1-p {
	padding: 0px 650px 0px 200px;
}
.box1-sign {
	padding-left: 200px;
}
.button1 {
	margin: 20px 0px 0px 200px;	
    background-color: #F2A339;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
    font-family: "Open Sans", sans-serif;
}
.button1:hover {
    background-color: #72B243;
}
.box2 {
	background-color: #313131;
	margin: -25px -10px 0px -10px;
	background-size: 100%;
	position: relative;
}
.image2 {
	height: 350px;
	padding: 150px 0px 210px 160px;
}
.box2-heading {
	display: inline;
	float: right;
	position: relative;
	bottom: 610px;
	padding-right: 150px;
	padding-left: 800px;
}
.box2-list { 
	display: inline;
	float: right;
	position: relative;
	bottom: 630px;
	padding-right: 150px;
	padding-left: 850px;
	color: white;
	line-height: 20px;
}
.button2 {
	display: inline;
	float: right;
	position: relative;
	bottom: 630px;
	right: 200px;
	margin: 20px 0px 0px 0px;	
    background-color: #99271E;
    border: none;
    color: white;
    padding: 13px 80px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
    font-family: "Open Sans", sans-serif;
}
.button2:hover {
    background-color: #72B243;
}
.link2 {
	font-size: 18px;
	display: inline;
	float: right;
	position: relative;
	bottom: 570px;
	left: 70px;
	color: white;
}
.link-text {
	color:white;
}
.box3 {
	background-repeat: no-repeat;
	background: url(forklift.svg);
	margin: -25px -10px 0px -10px;
	height: 550px;
	position: relative;
}
.box3-heading {
	padding-left: 200px;
	position: relative;
	bottom: 250px;
}
.box3-text {
	padding: 0px 650px 0px 200px;
	position: relative;
	bottom: 240px;
}
.button3 {
	margin: 30px 0px 0px 200px;	
    background-color: #F2A339;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
    font-family: "Open Sans", sans-serif;
    position: relative;
	bottom: 240px;
}
.button3:hover {
    background-color: #72B243;
}
.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.box4 {
	background-color: white;
	position: relative;
}
.box4-heading {
	color: #33373A;
	font-size: 30px;
	text-align: center;
	margin-top: -50px;
}
.box4-text {
	color: #33373A;
	text-align: center;
}
.title-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.box-title {
	color: #33373A;
	display: block;
	text-align: center;
}
.title-text {
	color: #33373A;	
	display: block;
	text-align: center;
	padding: 0px 50px 100px 50px;
}
